body{
    background-color: #1b6d85;
}
fieldset{
    border: 1px solid transparent;
}
#fieldsetDetails{
    width: 260px;
    height: 255px;
    float: left;
}
#fieldsetClient{
    width: 300px;
    height: 255px;
    float: left;
}
#fieldsetProblem{
    width: 300px;
    height: 255px;
    float: left;
}
#fieldsetType{
    width: 610px;
    height: 320px;
    float: left;
}
.divType{
    float: left;
    margin-right: 10px;
}
#fieldsetComment{
    float: left;
    width: 250px;
    height: 190px;
}
div.float{
    float: left;
    margin-right: 10px;
}
div.date{
    width: 230px;
}
input.form-control{
    width: 250px;
}
input.garant{
    width: 100px;
}
.input-group{
    width: 250px;
}
select.form-control{
    width: 350px;
}
input.count{
    width: 150px;
}
.panel1{
    width: 550px;
    margin: auto;
}
.panel2{
    width: 800px;
    margin: auto;
}
.panel3{
    width: 1100px;
    margin: auto;
}
.modal1{
   width: 300px;
}
.modal2{
    width: 575px;
}
.modal3{
    width: 850px;
}
div.tab-pane{
    margin-bottom: 10px;
}
div.tab-content{
    width: 860px;
    margin: auto;
}
p.total{
    width: 860px;
    margin: 20px auto;
    text-align: right;
    color: #d0e9c6;
    font-style: oblique;
    font-size: large;
}
.btn-form{
    float: right;
    margin-left: 10px;
}