body{
    background-color: #73a6c0;
}
#tab{
    width: 850px;
    margin: auto;
}
div.floatLeft{
    float: left;
    margin-right: 10px;
}
fieldset{
    border: 1px solid transparent;
}
#fieldsetDetails{
    width: 170px;
    height: 250px;
    float: left;
}
#fieldsetStatus{
    width: 470px;
    height: 100px;
}
#fieldsetClient{
    width: 300px;
    height: 250px;
    float: left;
}
#fieldsetProblem{
    width: 310px;
    height: 175px;
}
#fieldsetComment{
    width: 310px;
    height: 175px;
}
#fieldsetType{
    width: 800px;
    height: 240px;
}
#fieldsetOther{
    width: 800px;
    height: 100px;
}
div.date{
    width: 150px;
}
div.date-begin{
    width: 150px;
}
#fieldsetOther .date-end{
    width: 160px;
}
#number{
    width: 150px;
}
input.form-control{
    width: 250px;
}
input.garant{
    width: 100px;
}
.input-group{
    width: 250px;
}
select.form-control{
    width: 350px;
}

input.count{
    width: 150px;
}
.panel1{
    width: 550px;
    margin: auto;
}
.panel2{
    width: 800px;
    margin: auto;
}
.panel3{
    width: 1100px;
    margin: auto;
}
.modal1{
   width: 300px;
}
.modal2{
    width: 575px;
}
.modal3{
    width: 850px;
}
div.tab-pane{
    margin-bottom: 10px;
}
div.tab-content{
    width: 820px;
    margin: auto;
}
p.total{
    width: 820px;
    margin: 20px auto;
    text-align: right;
    color: #d0e9c6;
    font-style: oblique;
    font-size: large;
}
.btn-form{
    float: right;
    margin-right: 30px;
    margin-bottom: 10px;
}

#address_client, #tel_client{
    width: 295px;
}
input.width230{
    width: 230px;
}
p.margin0{
    margin-bottom: 0;
}
div.width310{
    width: 310px;
}
div.width470{
    width: 470px;
}
.error{
    border-color: #bc0000;
    background-color: #b94a48;
}
#typeOfForm{
    visibility: hidden;
}